# Composer dependencies
vendor/

# Environment configurations
.env
.env.local

# SQLite Database and local data
data/*.sqlite
data/*.db
!data/.htaccess

# Excluir las fotografías subidas localmente pero mantener la estructura de la carpeta
data/fotos/*
!data/fotos/.gitkeep

# Logs
*.log

# Agent Rules
.agent-rules/
../.agent-rules/
